{% extends '::base.html.twig' %}

{% block content %}
    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        {% if post.excerpt %}
            {{ post.excerpt | autop | raw }}
        {% else %}
            {{ post.content | autop | raw }}
        {% endif %}
    {% endfor %}
{% endblock %}

