{% extends 'PSSBlogBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ post.title }}</h1>

    {{ post.content | autop | raw }}
{% endblock %}

{% block sidebar %}
    {% render 'PSSBlogBundle:Blog:recentPosts' with {'max': 5} %}
{% endblock %}
